@model IEnumerable<AzureBlobStorageExp.Models.AzureFile>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form asp-controller="Files" asp-action="Upload" method="post" enctype="multipart/form-data">
        <h1 class="display-5">Select File(s)</h1>
        <input type="file" name="files" multiple />
        <button class="btn btn-primary" type="submit">Upload</button>
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>File Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model)
            {
                <tr>
                    <td>@file.FileName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
